html {
	color: gold;
	background-color: #000033;
	border: 3px solid coral;
}
body {

}
a {
	font-family: Helvetica;
}
.caption {
	display:block;
	font-family: 'Playfair Display', serif;
	font-size: 12px;
	font-style: italic;
	line-height: 14px;
	margin-left: 20px;
	padding: 10px;
	position: relative;
	top: 80%;
	text-align: center;
}
.linkImage {
	background-image:url("https://media.licdn.com/dms/image/C4E16AQGM4DUZwmUMBA/profile-displaybackgroundimage-shrink_350_1400/0?e=1540425600&v=beta&t=rW9pjdEea7mOdwRk8qpAWvkQNb1Fgreip0Mqs_awSrI");
    background-size: cover;
    background-position: center;
    height: 300px;
    padding-top: 0;
}
.moonLinks {
	color: gold;
}
.navigation {
}
.oblique {
	font-style: oblique;
	display: inline;
}
.oblique:hover {
	background: #ff0033;
	color: #660000;
	position: relative;
	left: 100px;
	display:inline;
}
p {
	font-family: Verdana;
}
#pic {
	position: relative;
	left: 180px;
}
table {
	border: 2px solid black;
	font-size: "35px";
}
